*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffff;

}
table{
    margin-left: 10%;
    margin-top: 40px;
    border-collapse: collapse;
}
.first-table{
    
}
.second-table{
   
}
.third-table,th, td{
   padding: 10px;
   border: 1px solid black;
  
}
.my-link a{
    font-size: 2.1em;
    color: blue;
text-decoration: none;
}
.my-link:hover a{
    
    background-color: cornflowerblue;
    padding: 10px 2s;
    
 
   
}
